@media only screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
  }
}
.new-group {
  display: flex;
  flex-wrap: wrap;
  padding: 0% 18%;
  margin: 13%;
  justify-content: left;
  width: 10px;
  align-items: center;
  margin-bottom: 22px;
  justify-content: left;
  color: #f70303;
  cursor: pointer;
  font-weight: 400;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.new-group input,
.new-group select,
.new-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

.default:hover {
  background: #77a198;
}
