.column {
    float:left;
    width: 50%;

    margin-top: 6px;
    padding: 20px;
    border: 0px;
    border-width: 0px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .height{
      height: 100%;
      width: 900px;
  }

  /*.back{
    background-color: black;
  }*/
  #row1{
    background-image: url("boreal-forest-biome-730.jpg");
    background-position: 100px;
    background-size: 100%;
  }
  @media only screen and (min-width: 600px) {
    body {
      background-color: whitesmoke;
    }
  }

  