.column {
  float: left;
  width: 50%;

  margin-top: 6px;
  padding: 20px;
  border: 0px;
  border-width: 0px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.height {
  height: 100%;
  width: 900px;
}

#row1 {
  background-image: url("boreal-forest-biome-730.jpg");
  background-position: 100px;
  background-size: 100%;
}
@media only screen and (min-width: 600px) {
  body {
    background-color: whitesmoke;
  }
  .wrap {
    display: none;
  }
}

.backdiv1 {
  background-position: center;
  background-size: 100%;
  padding-bottom: 36%;
  animation: backgroundChange 10s linear infinite;
  padding-top: 0%;
}
@keyframes backgroundChange {
  0% {
    background-image: url("rBVaVV0ptdOAFdpNAANFgElM1sQ414.jpg");
  }
  33% {
    background-image: url("New\ Age-shoes-double_quarter.jpg");
  }
  45% {
    background-image: url("coding.jpg");
  }
  66% {
    background-image: url("1172985.jpg");
  }
  99% {
    background-image: url("Louiv.jpg");
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0600cc00;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 109px;
  height: 46px;
  border: 1px solid rgba(206, 151, 151, 0.2);
  background: rgba(15, 25, 119, 0.884);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: relative;
  top: 11%;
  left: 5%;
  transform: translate(-7%, 153%);
}
