.column {
    float:left;
    width: 50%;

    margin-top: 6px;
    padding: 20px;
    border: 0px;
    border-width: 0px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .height{
      height: 100%;
      width: 900px;
  }

  /*.back{
    background-color: black;
  }*/
  #row1{
    background-image: url("boreal-forest-biome-730.jpg");
    background-position: 100px;
    background-size: 100%;
  }
  @media only screen and (min-width: 600px) {
    body {
      background-color: whitesmoke;
    }
  }

  .backdiv{
    background-position: center;
    background-size: 100%;
    padding-bottom: 50%;
    animation: backgroundChange 10s linear infinite;
    padding-top: 16%;
}
@keyframes backgroundChange {
    0% {
        background-image: url("rBVaVV0ptdOAFdpNAANFgElM1sQ414.jpg");
    }
    33% {
      background-image: url("New\ Age-shoes-double_quarter.jpg");
    }
    45%{
        background-image: url("coding.jpg");
    }
    66% {
      background-image: url("jordan.jpg");
    }
    99% {
      background-image: url("Louiv.jpg");
    }
  }