.footer {
  text-align: left;
  background-color: #070617;
}
.columnf {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  border: 20px;
  border-width: 30px;
}

/* Clear floats after the columns */
.rowf:after {
  content: "";
  display: table;
  clear: both;
}
