#divback{
    padding-bottom: 50%;
    padding: 18% 20%;
    margin: -2%;
    display: inline-block;
    flex-flow: row-reverse wrap;
    overflow: hidden;
}

#backdiv{
    background-position: center;
    background-size: 100%;
    padding-bottom: 50%;
    animation: backgroundChange 10s linear infinite;
    padding-top: 16%;
}
@keyframes backgroundChange {
    0% {
        background-image: url("rBVaVV0ptdOAFdpNAANFgElM1sQ414.jpg");
    }
    33% {
      background-image: url("New\ Age-shoes-double_quarter.jpg");
    }
    45%{
        background-image: url("coding.jpg");
    }
    66% {
      background-image: url("jordan.jpg");
    }
    99% {
      background-image: url("Louiv.jpg");
    }
  }
  

/*#backdi{
    background-image: url("LV.jpg");
    background-position: center;
    background-size: 100%;
    padding-bottom: 29%;
}*/
body {
            
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;
 }
 @-moz-keyframes slidein {
    from {
       margin-left:100%;
       width:300%
    }
    to {
       margin-left:0%;
       width:100%;
    }
 }
 @-webkit-keyframes slidein {
    from {
       margin-left:100%;
       width:300%
    }
    to {
       margin-left:0%;
       width:100%;
    }
 }
img{
    padding-bottom: 10%;
}

@media only screen and (min-width:1000px) {
  body {
    background-color: white;
  }
}

.size{
  size: 100xp;
}

.hove img:hover {
  cursor: pointer;
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.container {
  position: relative;
  width: 139%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
  background-color: teal;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.column1 {
  float: left;
  margin: 4% -3%;
  padding: 7% 13% 4% 10%;
  width: 39%;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
} 

.row1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 3% 8%;
  margin: -18%;
}

/* On mouse-over, add a deeper shadow */
.row1 div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Add some padding inside the card container */
.container {
  padding: 14px 2px;
}

.column1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}