#divback {
  padding-bottom: 50%;
  padding: 18% 20%;
  margin: -2%;
  display: inline-block;
  flex-flow: row-reverse wrap;
  overflow: hidden;
}

#backdiv {
  background-position: center;
  background-size: 100%;
  padding-bottom: 41%;
  animation: backgroundChange 10s linear infinite;
  padding-top: 0%;
}
@keyframes backgroundChange {
  0% {
    background-image: url("rBVaVV0ptdOAFdpNAANFgElM1sQ414.jpg");
  }
  33% {
    background-image: url("New\ Age-shoes-double_quarter.jpg");
  }
  45% {
    background-image: url("coding.jpg");
  }
  66% {
    background-image: url("1172985.jpg");
  }
  99% {
    background-image: url("jor.jpg");
  }
}

body {
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
}
@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
img {
  padding-bottom: 1%;
}

@media only screen and (min-width: 1000px) {
  body {
    background-color: rgb(253, 251, 251);
  }
  modal {
    position: fixed;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80;
  }
  .header a {
    float: left;
    color: rgba(255, 255, 255, 0.966);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    text-decoration: underline;
  }
}

.size {
  size: 100xp;
}

img:hover {
  cursor: inherit;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.card {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 86%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.image1 {
  opacity: 1;
  display: block;
  width: 511%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

div:hover .image {
  opacity: 0.8;
  background-color: whitesmoke;
}

/* .container:hover .middle {
  opacity: 1;
} */

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.column1 {
  float: left;
  margin: 4% -3%;
  padding: 7% 13% 4% 10%;
  width: 39%;
}

#row1:after {
  content: "";
  display: table;
  clear: both;
}

#row2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 4% 36%;
  margin: -1%;
}

#row2 div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  padding: 14px 2px;
}

#row3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.myproducts {
  max-width: 10%;
}

.column3 {
  /* float: left; */
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  border: 20px;
  border-width: 30px;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 41%;
  left: 26%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: flex;
  max-block-size: 100%;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 50%);
  pointer-events: none;
}

.place {
  margin: 3% 0%;
}
#items {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  width: 30%;
  min-width: 500px; */
}
#myproducts {
  display: flex;
  flex-wrap: wrap;
}
